* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(158, 153, 153);
}
header {
  height: 100px;
  background-color: #424242;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
header div {
  width: 40%;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: cursive;
}
header div h1 {
  font-size: 48px;
  text-shadow: 10px 0 5px rgb(148, 24, 24);
}

section {
  border-top: dotted 2px black;
}

header a {
  text-decoration: none;
  color: rgb(223, 27, 109);
}

.navbar {
  display: flex;
  margin: 7px 0;
  width: 50%;
  align-items: center;
}
.navbar ul {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
}
.navbar ul li {
  padding: 10px 15px;
  font-family: cursive;
}

.navbar ul li a {
  font-size: 28px;
}
.navbar ul li a:hover {
  background-color: rgb(163, 139, 139);
  color: aqua;
  text-shadow: 0 0 10px white;
}

.bg-img {
  height: 300px;
}

.bg-img img {
  padding: 0 0 22px 21px;
  border-radius: 50px;
}
.hero,
.hero-contact,
.hero-work {
  flex-wrap: wrap;
}
.hero-work {
  height: 550px;
}
.hero div {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 45px;
  font-family: fantasy;
  color: #e72e0e;
  text-align: center;
  padding: 10px;
}

h3 {
  font-size: 32px;
}

div p {
  font-size: 22px;
  padding-left: 60px;
  padding-right: 70px;
  text-align: center;
  font-style: oblique;
}

.hero-work div {
  display: flex;
}

.run-buddy {
  height: 180px;
  /* align-items: center; */
  padding: 0px 20% 0 20%;
}

.run-buddy img {
  max-height: 100%;
  /* max-width: 100%; */
}

.run-buddy-txt,
.pass-gen-txt,
.horiseon-txt {
  flex-direction: column;
}
.run-buddy-txt ul,
.pass-gen-txt ul,
.horiseon-txt ul {
  padding-left: 15%;
}
.other-work {
  height: 200px;
  padding: 17px 23px 0 0;
}

.pass-gen {
  padding: 1% 0 1% 10%;
}
.horiseon {
  padding: 1% 0 1% 4%;
}
.pass-gen img,
.horiseon img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}
.hero-contact div {
  display: flex;
  justify-content: center;
}
.contact-images {
  width: 70px;
  height: 70px;
}


div {
  border: solid 2px red;
  
}
@media screen and (max-width: 980px) {
  .horiseon-txt, .pass-gen-txt, .run-buddy-txt {
    overflow: auto;
  }
}
@media screen and (max-width: 575px) {

}

@media screen and (max-width: 768px){
  .bg-img{
    text-align: center;
  }
}