* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background: rgb(177, 177, 225);
  transition: 0.2s;
}
header:hover {
  background: rgb(210, 185, 185); 
}
h3 {
  color: rgb(242, 8, 8);
  transition: 0.2s;
}
h3:hover {
  color: rgb(38, 128, 238); 
}
.image{
  max-width: inherit;
}

.hero-contact  {
  display: flex;
  justify-content: center;
}
.hero-contact img{
  width: 70px;
  height: 70px; 
}