* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(207, 207, 207);
  font-family: Helvetica, Arial, sans-serif;
}

header {
  color: rgb(83, 221, 231);
  /* border: solid 1px; */
}

.header {
  background-color: rgb(63, 63, 65);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
}
header h1 {
  background-color: rgb(69, 183, 187);
  font-size: 48px;
  padding-left: 50px;
  padding-right: 10px;
  color: black;
}

header nav {
  /* display: flex; */
  /* justify-content: space-around; */
  width: auto;
  /* padding: 35px 10px; */
}
header nav a {
  color: rgb(69, 183, 187);
}
ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  padding: 7px 0;
}

li {
  padding-right: 18px;
}

/* is this an image  */
.header-para {
  /* background-color: orange; */
  padding: 10px;
  text-align: right;
  font-size: 30px;
  display: flex;
  justify-content: right;
  padding: 90px 0 10px 0;
  background-image: url("./stripes.jpeg");
}
header p {
  background-color: rgb(69, 183, 187);
  width: 20%;
  text-align: center;
  color: black;
  display: flex;
}

.hero {
  display: flex;
  border: solid 1px;
  width: 100%;
  height: auto;
}
.hero-header {
  flex: 1;
  margin: 10px;
  border-right: solid 2px;
  text-align: right;
  font-size: 40px;
  padding-right: 10px;
}

/* .h-two {
  flex: 1;
  margin: 10px;
  border-right: solid 2px;
  text-align: right;
  font-size: 40px;
  padding-right: 10px;
} */

.hero-para {
  padding-left: 10px;
}

.hero-para,
.hero-work,
.hero-contact {
  flex: 5;
  margin: 10px;
  align-items: right;
}

.hero-contact p {
  padding-left: 20px;
}

.work-flex {
  display: flex;
  justify-content: space-between;
}

.work-flex2 {
  display: flex;
  justify-content: space-between;
}
.work-flex div {
  border: solid 1px;
}

.work-flex2 div {
  border: solid 1px;
}

.hero-main{
    border: solid 1px;
}

.hero-contact {
  /* display: flex;
  justify-content: center; */
  list-style: none;
  margin: auto;

}
.hero-contact ul{
    display: flex;
    justify-content: space-around;
}